<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E">
    <test name="DashboardValidatorTest">
        <groups>
            <run>

            </run>
        </groups>
        <classes>
            <class name="DashboardValidatorTest"/>
        </classes>
    </test>
</suite>
